# default group
* @pcdshub/motion-sme

# language-specific group(s)
## PYTHON files
*.py @pcdshub/motion-sme @pcdshub/python-reviewers
*.pyi @pcdshub/motion-sme @pcdshub/python-reviewers
*.pyc @pcdshub/motion-sme @pcdshub/python-reviewers
*.pyw @pcdshub/motion-sme @pcdshub/python-reviewers
*.pyx @pcdshub/motion-sme @pcdshub/python-reviewers
*.pyd @pcdshub/motion-sme @pcdshub/python-reviewers
## TWINCAT files
*.tsproj @pcdshub/motion-sme @pcdshub/twincat-reviewers
*.plcproj @pcdshub/motion-sme @pcdshub/twincat-reviewers
*.tmc @pcdshub/motion-sme @pcdshub/twincat-reviewers
*.tpr @pcdshub/motion-sme @pcdshub/twincat-reviewers
*.xti @pcdshub/motion-sme @pcdshub/twincat-reviewers
*.TcTTO @pcdshub/motion-sme @pcdshub/twincat-reviewers
*.TcPOU @pcdshub/motion-sme @pcdshub/twincat-reviewers
*.TcDUT @pcdshub/motion-sme @pcdshub/twincat-reviewers
*.TcGVL @pcdshub/motion-sme @pcdshub/twincat-reviewers
*.TcVis @pcdshub/motion-sme @pcdshub/twincat-reviewers
*.TcVMO @pcdshub/motion-sme @pcdshub/twincat-reviewers
*.TcGTLO @pcdshub/motion-sme @pcdshub/twincat-reviewers

# github folder holds administrative files
.github/** @pcdshub/software-admin
