# Twincat ignores
_Boot
_Libraries
_CompileInfo
*.sln
*.suo
*~
*.tpy
*.bak
*.~u
TrialLicense.tclrs
*.library

# EPICS ignores
O.*
archive
autosave
bin
build
db
dbd

# Vim ignores
*.swp

# Output from scope ignores
*.csv
