# From Confluence "Twincat 3 Git Setup and Best Practices
_Boot
_Libraries
_CompileInfo
*.suo
*~
*.tpy
*.bak
*.~u
*.csv
*.svd
*.dbg
TrialLicense.tclrs
*.library
*.tmcRefac
.pytmc_build

# An extra
UpgradeLog.htm

# Vim ignores
*.swp
